* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

h1 {
    font-size: 3rem;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

h2 {
    font-size: 5rem;
    border: 2px solid whitesmoke;
    padding: 10px 40px;
    background-color: black;
    color: whitesmoke;
    border-radius: 50%;
}

#increment-btn {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: maroon;
    color: whitesmoke;
}

#save-btn {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: darkgreen;
    color: whitesmoke;
}

.container {
    display: grid;
    place-content: center;
    margin: 10px;
}

p {
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    width: 170px;
}